.footer {
	padding: 42px 0;
	padding-bottom: 90px;
	background-color: var(--bg-clr);

	&__content {
		display: flex;
		flex-direction: flex-start;
		justify-content: space-between;
		max-width: 476px;

		@include big-desktop {
			max-width: 430px;
		}
	}

	&__copyright {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: var(--pink-clr);
	}

	&__text {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: var(--light-clr);
	}
}
